<div class="login">
    <div class="areaLogin">
        <div class="conteudoLoginArea">
            <div class="conteudoLogin">
                <div class="entraLogin">
                    <label for="">Login</label>
                    <input type="text">
                    <label for="">Senha</label>
                    <input type="text" name="" id="">
                    <input id="entrarLoginS" type="button" value="Entrar">
                </div>
            </div>
        </div>
    </div>
</div>